*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================ HEADER ================ */

.header{
    background-color: rgb(1, 161, 253);
    height: 200px;
}

.icon{
    max-height: 40px;
    max-width: 35px;
    float: right;
    margin: 40px;
    margin-top: 80px;
    margin-right: 60px;
}

.porto{
    max-width: 90px;
    max-height: 90px;
    margin: 40px;
    box-shadow: 5px 5px rgb(128, 132, 129);
}

nav{
    text-align: center;
    font-size: large;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 100px;
}
a.prod{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
}
a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
}
a.pagint{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 100px;
}

/* ================ HOME ================ */

.sec1home{
    background-color: rgb(239, 244, 240);
    margin: 40px;
    border-radius: 20px;
    max-width: 40%;
    padding-top: 20px;
    height: 660px;
    float: left;
}

.mecbot{
    text-align: center;
    padding-top: 10px;
    font-size: 58px;
}

.phome{
    line-height: 30px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: justify;
    font-size: 26px;
}

aside{
    max-width: 40%;
    float: left;
    padding: 200px;
}

.carros{
    box-shadow: 10px 10px 128, 132, 129;
    border-radius: 10px;
}

/* ================ PRODUTOS ================ */

.aviso{
    color: gray;
    font-size: 14px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.prodh1{
    text-align: center;
    margin: 20px;
    font-size: 48px;
}

.pastilha{
    float: left;
    text-align: center;
}

.article1{
    padding: 40px;
}

.vitrine1{
    height: 400px;
    width: 400px;
    margin: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
    border-radius: 10px;
}
.preco1{
    text-align: center;
    margin-top: 20px;
    margin: 40px;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    width: 150px;
    height: 28px;
    padding: 20px;
    margin-left: 150px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
}

.bandeja{
    float: left;
    text-align: center;
}

.article2{
    padding: 40px;
}

.vitrine2{
    height: 400px;
    width: 400px;
    margin: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
    border-radius: 10px;
}
.preco2{
    text-align: center;
    margin-top: 20px;
    margin: 40px;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    width: 180px;
    height: 28px;
    padding: 20px;
    margin-left: 150px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
}

.amortecedor{
    float: left;
    text-align: center;
}

.article3{
    padding: 40px;
}

.vitrine3{
    height: 400px;
    width: 400px;
    margin: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
    border-radius: 10px;
}
.preco3{
    text-align: center;
    margin-top: 20px;
    margin: 40px;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    width: 150px;
    height: 28px;
    padding: 20px;
    margin-left: 150px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
}

.alternador{
    float: left;
    text-align: center;
}

.article4{
    padding: 40px;
}

.vitrine4{
    height: 400px;
    width: 400px;
    margin: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
    border-radius: 10px;
}
.preco4{
    text-align: center;
    margin-top: 20px;
    margin: 40px;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    width: 150px;
    height: 28px;
    padding: 20px;
    margin-left: 150px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
}

.reservatorio{
    float: left;
    text-align: center;
}

.article5{
    padding: 40px;
}

.vitrine5{
    height: 400px;
    width: 400px;
    margin: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
    border-radius: 10px;
}
.preco5{
    text-align: center;
    margin-top: 20px;
    margin: 40px;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    width: 180px;
    height: 28px;
    padding: 20px;
    margin-left: 150px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
}

.filtro{
    float: left;
    text-align: center;
}

.article6{
    padding: 40px;
}

.vitrine6{
    height: 400px;
    width: 400px;
    margin: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
    border-radius: 10px;
}
.preco6{
    text-align: center;
    margin-top: 20px;
    margin: 40px;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    width: 150px;
    height: 28px;
    padding: 20px;
    margin-left: 150px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
}

/* ================ SERVIÇOS ================ */

.servh1{
    text-align: center;
    margin: 20px;
    font-size: 56px;
}

.chatbotp{
    background-color: rgb(239, 244, 240);
    margin: 40px;
    border-radius: 20px;
    max-width: 40%;
    padding-top: 20px;
    height: 360px;
    float: left;
    line-height: 44px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: justify;
    font-size: 38px;
}

.chatbotimg{
    height: 380px;
    margin: 40px;
    margin-left: 100px;
    box-shadow: 20px 20px rgb(128, 132, 129,);
    border-radius: 20px;
}

.bdimg{
    height: 380px;
    margin: 40px;
    margin-left: 100px;
    box-shadow: 20px 20px rgb(128, 132, 129,);
    border-radius: 20px;
}

.bdp{
    background-color: rgb(239, 244, 240);
    margin: 40px;
    border-radius: 20px;
    max-width: 40%;
    padding-top: 20px;
    height: 360px;
    float: right;
    line-height: 44px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: justify;
    font-size: 38px;
}

/* ================ PAG.INT ================ */

.paginth1{
    text-align: center;
    margin: 20px;
    font-size: 56px;
}

.int1{
    float: left;
    text-align: center;
}

.article7{
    padding: 40px;
}

.foto1{
    height: 500px;
    width: 400px;
    margin: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
    border-radius: 10px;
    margin-left: 117px;
}
.legenda1{
    text-align: center;
    margin-top: 20px;
    margin: 20px;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    width: 180px;
    height: 100px;
    padding: 20px;
    margin-left: 135px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
}

.int2{
    float: left;
    text-align: center;
}

.article8{
    padding: 40px;
}

.foto2{
    height: 500px;
    width: 400px;
    margin: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
    border-radius: 10px;
}
.legenda2{
    text-align: center;
    margin-top: 20px;
    margin: 20px;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    width: 180px;
    height: 120px;
    padding: 20px;
    margin-left: 135px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
}

.int3{
    float: left;
    text-align: center;
}

.article9{
    padding: 40px;
}

.foto3{
    height: 500px;
    width: 400px;
    margin: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
    border-radius: 10px;
}
.legenda3{
    text-align: center;
    margin-top: 20px;
    margin: 20px;
    background-color: rgb(239, 244, 240);
    border-radius: 10px;
    width: 180px;
    height: 100px;
    padding: 20px;
    margin-left: 135px;
    box-shadow: 0px 0px 5px 5px rgb(128, 132, 129);
}